/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.container  {

  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon {
  justify-content: end;
  width: 50px;
  height: 48px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  flex: 0 0 30%;
  align-items: center;
}

.nav {
  display: flex;
  flex: 0 0 74%;
  justify-content: space-between;
}
.nav div {
  padding: 10px 20px;
  text-decoration: none;
  color:  #868686;
  /* Style for "Home" */
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "Home  ," */
}
.nav div:hover {
  /* Style for "Rounded Re" */
  border-radius: 2px ;

  background-color: #ffbb42;
}


.header_wrapper {
  height: 93px;
}

 /*Up HEAD!!!!!!!!!!!!!!*/















.head_body {
  /* Style for "Header BG" */

  height: 589px;

  background-color: #709dca;
}

.head_body_text {

  padding: 110px 0 33px 0;

  text-align: center;




  /* Style for "Boost up y" */

  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  /* Text style for "Boost up y" */

  /* Text style for "Lorem Ipsu" */


}
.head_body_text span {

  font-size: 35px;
  font-weight: 800;
  letter-spacing: -0.88px;
  text-transform: uppercase;
}

.head_input {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.head_input input {
  /* Style for "Rounded Re" */
  margin: 0 10px 0 0;
  width: 281px;
  height: 46px;
  background-color: #ffffff;
}

.input_1 {

  background-image: url(../img/1.png);
  background-repeat: no-repeat; /*Убираем повтор изображения*/
  background-position: 11px; /*Позиционируем*/
  outline: none; /*убираем стандартную обводку браузера*/
  -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
  -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
  border-radius: 5px; /*закругляем углы для остальных браузеров*/
  padding-left: 40px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
  height: 20px; /*высота строки ввода*/
  font-size: 18px; /*размер шрифта*/

}

.input_2 {

  background-image: url(../img/2.png);
  background-repeat: no-repeat; /*Убираем повтор изображения*/
  background-position: 11px; /*Позиционируем*/
  outline: none; /*убираем стандартную обводку браузера*/
  -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
  -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
  border-radius: 5px; /*закругляем углы для остальных браузеров*/
  padding-left: 40px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
  height: 20px; /*высота строки ввода*/
  font-size: 18px; /*размер шрифта*/
}

.input_3 {

  background-image: url(../img/3.png);
  background-repeat: no-repeat; /*Убираем повтор изображения*/
  background-position: 11px; /*Позиционируем*/
  outline: none; /*убираем стандартную обводку браузера*/
  -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
  -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
  border-radius: 5px; /*закругляем углы для остальных браузеров*/
  padding-left: 40px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
  height: 20px; /*высота строки ввода*/
  font-size: 18px; /*размер шрифта*/

}

.head_input button {
  /* Style for "Rounded Re" */
  width: 211px;
  height: 52px;
  background-color: #ffbb42;
  color: white;
  -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
  -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
  border-radius: 5px; /*закругляем углы для остальных браузеров*/


}

.macbook  {
  display: flex;
  margin: 67px 0 0 0;
  justify-content: center;
}
.scroll {
  display: flex;
  justify-content: center;

}

.scroll img {
  margin: 24px 10px;
}



/*HEAD_BODY*/

.services {
  background-color: white;
  height: 800px;
}


.head_services {
  display: flex;
  text-align: center;
  flex-direction: column;

  margin: 20% 0;


}
.head_services span {
  font-size: 40px;
  font-weight: 900;

  font-family: "Open Sans";

}
.head_services p {
  margin: -10px 0 0 0;
}

.body_services {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  flex-direction: row;

}

.services_item {

}
.services_wrap {
  display: flex;
  margin: -150px 0 150px 0;

}

.first_column_services {
  margin: 0 10% 0 0;
}

.about_US {
  width: 100%;
  display: flex;

  flex-wrap: nowrap;
  margin: 0;
  padding: 0;

}

.about_img {
  background-image: url("../img/About_img.png");
  width: 850px;
  height: 623px;

  flex: 0 1 50% ;
}

.about_us_text {
  background-color: #ffc155;
  flex: 0 1 50%;
}

.about_tittle {
  display: inline-block;
  color: white;
  /* Style for "ABout us" */

  font-family: "Gotham - Black";
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  /* Text style for "ABout us" */
  letter-spacing: -0.75px;

}

.about_text {
  display: inline-block;
  color: white;
  /* Style for "Lorem Ipsu" */

  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.about_button {
  /* Style for "Rounded Re" */
  /* Style for "Rounded Re" */
  width: 145px;
  height: 46px;
  border: 1px solid #e7ad48;
  background-color: #ffc155;
}
.about_button p{
  /* Style for "Read more" */
  margin: 10px 30px ;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.about_wrap {
  margin: 110px 80px;
  height: 285px;
  width: 505px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}


.price {
  /* Style for "Rectangle" */
  width: 100%;
  height: 898px;
  background-color: #e7edf3;
}
.price_tittle {
  padding: 130px 0 50px 0;
  text-align: center;
  /* Style for "Choos your" */


  /* Text style for "Choos your" */
  color: #394b50;
  font-family: "Gotham - Black";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  /* Text style for "Lorem Ipsu" */
  font-family: "Lato Light";
  font-weight: 300;
}
.price_tittle p {
  margin: -10px 0 0 0;
  color: #75888d;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.price_wrap {
  display: flex;


}

.price-basic {
  /* Style for "Rounded Re" */
margin: 30px 0 0 0;

  width: 391px;
  height: 441px;
  border: 1px solid #ccd5df;
  background-color: #ffffff;
}

.price-basic img {
  display: block;
  margin: 50px auto;
}

.price-premium {
  /* Style for "Rounded Re" */
  width: 395px;
  height: 501px;
  background-color: #709dca;
}
.howitworks_wrap  {
  display: block;
  text-align: center;
  margin: 100px auto;

}



.happy_clients {
  /* Style for "Rectangle" */

  height: 908px;
  background-color: #ffc155;
}

.happy_wraper {
  display: flex;
  flex-wrap: wrap;
}

.client {
  /* Style for "Rounded Re" */
 margin: 10px 5px;
  width: 567px;
  height: 241px;
  background-color: #ffffff;
}

.client img {
  display: block;
  margin: 50px auto;
}


